/* common */
body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
  transition: all 1s;
}

.container {
  margin: 0 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: white;
  transition: all 1s;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity .3s;
}

a:hover {
  opacity: 1.0;
}

.memorys li:hover {
  /* transform: scale(1.3, 1.3);
  transform: rotate(30deg); */
  transform: translate(0px, 0px) rotate(5deg) scale(1.3, 1.3) ; 
  transition: all 1s;
}

/* header */

header {
  text-align: center;
  padding: 8px 0;
}

/* hero */

.hero {
  height: 700px;
}

.hero img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  transition: all 1s;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.hero img.current {
  opacity: 1;
}

/* .hero img:hover {
  transform: scale(1.3, 1.3);
  border-radius: 50%;
} */



/* memorys */

.memorys {
  padding: 80px 0;
}

.memorys ul {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.memorys li {
  width: calc((100% - 16px) / 2);
}

.memorys li img {
  width: 100%;
  object-fit: cover;
}

.memorys li h2 {
  font-size: 16px;
  margin-top: 8px;
}

.memorys li a {
  display: block;
}

.memorys .more {
  display: block;
  width: 70%;
  line-height: 48px;
  border: 2px solid #333;
  text-align: center;
  margin: 32px auto 0;
}


/* footer */

footer {
  background: #4c4948;
  padding: 16px 0;
  color: #eee;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* medium screen */

@media (min-width: 600px) {
  .memorys li {
    width: calc((100% - 36px) / 3);
  }
}

/* large screen */

@media (min-width: 800px) {
  .container {
    width:  calc(100% - 32px);
    margin: 0 auto;
    max-width: 800px;
  }
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .3s, transform .3s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}